.App {
  text-align: center;
}

.App-header {
  min-height: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: #d8cbc4;
}

.App-navBar {
  align-items: center;
}

.App-navLink {
  margin-left: 20px;
  text-decoration: none;
  color: #3d251e;
}

.App-navLink:hover {
  color: #ffc2d1;
}

.Window-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 90px;
}

.Rules-container {
  text-align: left;
  padding-left: 10%;
  padding-right: 10%;
  word-wrap: break-word;
}

.App-headers {
  font-weight: bold;
  font-size: 26px;
  padding-bottom: 0;
}

.About-us-paragraphs {
  padding-left: 5%;
  padding-right: 5%;
  font-size: 17px;
}

img {
  width: 60%;
  position: relative;
}
img::before {
  content: '';
  display: block;
  padding-bottom: 60%;
}