.card {
    -fx-pref-width: 70;
    -fx-pref-height: 100;
}




#feyreMeter {
    -fx-alignment: center-left;
    -fx-translate-x: -80;
    -fx-translate-y: -80;
    -fx-accent: darkslateblue;
}

#opponentImg {
    -fx-alignment: top-right;
}

#healthMeter {
    -fx-translate-y: -13;
    -fx-translate-x: -30;
    -fx-accent: limegreen;
}

#passButton {
    -fx-font-size: 25;
    -fx-font-family: "Viner Hand ITC";
    -fx-text-fill: maroon;
    -fx-border-color: grey;
    -fx-border-width: 5px;
    -fx-background-color: linen;
}

#handButton {
    
}